<div class="app-content content">
  <div style="margin-top: 0px" class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Facture</h2>
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active">Facture</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div
        class="
          content-header-right
          text-md-right
          col-md-3 col-12
          d-md-block d-none
        "
      >
        <div class="form-group breadcrum-right">
          <div class="dropdown"></div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <!-- invoice functionality start -->
      <section class="invoice-print mb-1">
        <div class="row">
          <fieldset class="col-12 col-md-5 mb-1 mb-md-0"></fieldset>
          <div
            class="
              col-12 col-md-7
              d-flex
              flex-column flex-md-row
              justify-content-end
            "
          >
            <button class="btn btn-primary btn-print mb-1 mb-md-0">
              <i class="feather icon-file-text"></i> Imprimer
            </button>
          </div>
        </div>
      </section>
      <!-- invoice functionality end -->
      <!-- invoice page -->
      <section class="card invoice-page">
        <div id="invoice-template" class="card-body">
          <!-- Invoice Company Details -->
          <div id="invoice-company-details" class="row">
            <div class="col-sm-6 col-12 text-left pt-1">
              <img
                style="margin-top: 0px"
                class="logo"
                src="../../../assets/images/logo/logo.jpg"
                alt="company logo"
              />
            </div>
            <div class="col-sm-6 col-12 text-right">
              <h1>Facture</h1>
              <div class="invoice-details mt-2">
                <h6>Numéro de facture.</h6>
                <p>00{{ cmdId }}/2019</p>
                <h6 class="mt-2">Date de facture</h6>
                <p>10 Dec 2018</p>
              </div>
            </div>
          </div>
          <!--/ Invoice Company Details -->

          <!-- Invoice Recipient Details -->
          <div id="invoice-customer-details" class="row pt-1">
            <div class="col-sm-6 col-12 text-left">
              <h5>Green Repack</h5>
              <div class="recipient-info my-2">
                <p>Ouest de Paris</p>
                <p>5 AV de la Gare</p>
                <p>75016</p>
              </div>
              <div class="recipient-contact pb-2">
                <p>
                  <i class="feather icon-mail"></i>
                  greenrepack@gmail.com.com
                </p>
                <p>
                  <i class="feather icon-phone"></i>
                  01 42 14 58 55
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-12 text-right">
              <h5>{{ client.fname }}</h5>
              <div class="company-info my-2">
                <p>{{ client.city }}</p>
                <p>{{ client.adress }}</p>
              </div>
              <div class="company-contact">
                <p>
                  <i class="feather icon-phone"></i>
                  {{ client.mnumber }}
                </p>
              </div>
            </div>
          </div>
          <!--/ Invoice Recipient Details -->

          <!-- Invoice Items Details -->
          <div id="invoice-items-details" class="pt-1 invoice-items-table">
            <div class="row">
              <div class="table-responsive col-12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>MARQUE</th>
                      <th>DESCRIPTION</th>
                      <th>PRIS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let emp of products">
                      <td>{{ emp.marque }}</td>
                      <td>{{ emp.description }}</td>
                      <td>{{ emp.prix }} €</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="invoice-total-details" class="invoice-total-table">
            <div class="row">
              <div class="col-7 offset-5">
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <th>TOTAL</th>
                        <td>{{ total }} euro</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Invoice Footer -->
          <div id="invoice-footer" class="text-right pt-3">
            <p>Nous apprécions votre clientèle</p>
            <p>
              Si vous avez des questions sur cette facture, n'hesitez pas à nous
              contacter
            </p>
          </div>
          <!--/ Invoice Footer -->
        </div>
      </section>
      <!-- invoice page end -->
    </div>
  </div>
</div>
