<div class="container-fluid">
  <div style="top: 20px; font-size: 18px" class="app-content content">
    <section class="data-thumb-view-header">
      <div class="table-responsive">
        <div
          id="DataTables_Table_0_wrapper"
          class="dataTables_wrapper dt-bootstrap4 no-footer"
        >
          <div class="top">
            <div class="actions action-btns">
              <div class="dt-buttons btn-group"></div>
            </div>
            <div class="action-filters"></div>
          </div>
          <div class="card">
            <table class="table">
              <thead>
                <tr>
                  <th>Vente</th>
                  <th>Achat</th>
                </tr>
                <tr>
                  <th>{{ allachat }}</th>
                  <th>{{ allvente }}</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
