<!-- BEGIN: Main Menu-->
<div
  class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
  data-scroll-to-active="false"
>
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a class="navbar-brand">
          <img class="logo" src="../../../assets/images/logo/logo.jpg" />
          <h2 class="brand-text mb-0" style="color: #356436; font-size: 17px">
            Green Repack
          </h2>
        </a>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"
          ><i
            class="
              feather
              icon-x
              d-block d-xl-none
              font-medium-4
              primary
              toggle-icon
            "
          ></i
          ><i
            class="
              toggle-icon
              feather
              icon-disc
              font-medium-4
              d-none d-xl-block
              collapse-toggle-icon
              primary
            "
            data-ticon="icon-disc"
          ></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
      <li *ngIf="checktype()" class="navigation-header">
        <span>Gestion d'admin</span>
      </li>

      <li *ngIf="checktype()" class="nav-item">
        <a routerLink="productenAttend"
          ><i class="fa fa-clock-o" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email"
            >Produits en attente</span
          ></a
        >
      </li>
      <li *ngIf="checktype()" class="nav-item">
        <a routerLink="productrefuser"
          ><i class="fa fa-window-close-o" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email">Produits refusés</span></a
        >
      </li>
      <li *ngIf="checktype()" class="nav-item">
        <a routerLink="reference"
          ><i class="fa fa-plus" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email"
            >Ajouter des références</span
          ></a
        >
      </li>
      <li *ngIf="checktype()" class="nav-item">
        <a routerLink="addAdmin"
          ><i class="fa fa-plus" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email"
            >Ajouter Admin</span
          ></a
        >
      </li>
      <li *ngIf="checktype()" class="nav-item">
        <a routerLink="gestioncommande"
          ><i class="fa fa-archive" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email"
            >Tous les Commandes</span
          ></a
        >
      </li>
      <li *ngIf="checktype()" class="nav-item">
        <a routerLink="chiffre"
          ><i class="fa fa-bar-chart" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email"
            >Chiffres d'affaires
          </span></a
        >
      </li>

      <li *ngIf="checklogin()" class="navigation-header">
        <span>Gestion du marchand</span>
      </li>

      <li *ngIf="checklogin()" class="nav-item">
        <a routerLink="addproduct"
          ><i class="fa fa-plus-square" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email"
            >Ajouter un produit</span
          ></a
        >
      </li>

      <li *ngIf="checklogin()" class="nav-item">
        <a routerLink="productoffre"
          ><i class="feather icon-shopping-cart"></i
          ><span class="menu-title" data-i18n="Email">Mes offres</span></a
        >
      </li>
      <li *ngIf="checklogin()" class="nav-item">
        <a routerLink="productclientenAttend"
          ><i class="fa fa-clock-o" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email">
            Produits en attente
          </span></a
        >
      </li>
      <li *ngIf="checklogin()" class="nav-item">
        <a routerLink="productclientcontre"
          ><i class="fa fa-reply-all" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email"> Contre offre</span></a
        >
      </li>
      <li *ngIf="checklogin()" class="nav-item">
        <a routerLink="productclientref"
          ><i class="fa fa-window-close-o" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email">
            Produits refusés</span
          ></a
        >
      </li>

      <li *ngIf="checklogin()" class="navigation-header">
        <span>Compte client</span>
      </li>

      <li *ngIf="checklogin()" class="nav-item">
        <a routerLink="stock"
          ><i class="fa fa-check-square-o" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email"
            >Produits disponibles</span
          ></a
        >
      </li>
      <li *ngIf="checklogin()" class="nav-item">
        <a routerLink="commandeclient"
          ><i class="fa fa-check-square-o" aria-hidden="true"></i
          ><span class="menu-title" data-i18n="Email"
            >Mes Commande</span
          ></a
        >
      </li>
      <br>
      <br>
        <hr>
      <li *ngIf="checklogin()" class="nav-item">
        <a (click)="logout()"
          ><i class="fa fa-power-off"></i
          ><span class="menu-title" data-i18n="Email">Déconnexion</span></a
        >
      </li>
    </ul>
  </div>
</div>
<!-- END: Main Menu-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
